.timerBtn{
    width: 80px;
    height: 25px;
    border: 2px solid;
    border-radius: 20px;
    font-family:Roboto Bol,'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color:#83bca9;
    color: #282B28;
    cursor: pointer;
}
#timerDisp{
    font-family:  Digital-7, 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 62px;
}

#timerContainer{
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 30px;
    border-style: solid;
    border-radius: 60px;
    border-color : #000000;
    background-color: #d36135;
    margin-top: 250px;
}

body{
    background-color: ivory;
}